{% extends 'base.html.twig' %}

{% block title %}Сайт заведений{% endblock %}

{% block body %}

<body>
    <div class="home">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-10 large-10">
                    <div class="rating">
                        <table>
                            <thead>
                            <tr>
                                <th class="title_table">Название</th>
                                <th class="title_table">Рейтинг</th>
                                <th class="title_table">Моя оценка</th>
                                <th width="10"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for place in places %}
                                <tr>
                                    <td><a class="institution_name" href="{{ path('place', { 'id' : place.placeId }) }}">«{{ place.name }}»</a></td>
                                    <td>{{ place.avgRate|round(2) }}</td>
                                    <td>{% if app.user %}{{ place.rate }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cell small-12 medium-2 large-2">
                    <div>
                        <spam class="title_category">Категория</spam>
                        <ul class="category_list">
                            {% for  category in categories %}
                                <li><a href="{{ path('category', { 'category' : category.name }) }}" class="category_is_list {% if currentCategory == category.name %} active {% endif %} ">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if countOfPages > 1 %}
                <div>
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            <li class="pagination-previous {% if currentPage == 1 %}disabled {% endif %}">
                                {% if currentPage > 1 %} <a href="{{ path('page', { 'page' : 1 }) }}" aria-label="Next page"></a> <span class="show-for-sr"></span>{% endif %}</li>
                            {% for i in 1..countOfPages + 1 %}

                                <li><a {% if i == currentPage %}class="current"{% endif %}
                                       href="{% if currentCategory == "" %}{{ path('page', { 'page' : i }) }}
                                       {% else %} {{ path('category', { 'page' : i , 'category' : currentCategory}) }}
                                       {% endif %}" aria-label="Page 2">{{ i }}</a></li>

                            {% endfor %}
                            <li class="pagination-next {% if currentPage == 2 %}disabled {% endif %}">
                                {% if currentPage < 2 %} <a href="{{ path('page', { 'page' : 2 }) }}" aria-label="Next page"></a> <span class="show-for-sr"></span>{% endif %}</li>
                            {# fix 2 to max value #}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
