{% extends 'base.html.twig' %}

{% block title %}Сайт заведений{% endblock %}

{% block body %}

<style>
    .active { background: #5400E5 }
</style>

<body>
<header>
    <div class="grid-container">
        <div class="top-bar white_header">
            <a href="{{ path('default')}}"><img src="{{ asset('images/favicon.ico') }}" alt="logo" class="logo top-bar-left"></a>
            <div class="top-bar-right">
                <a href="{{ path('login')}}"><button class="clear button sign_in" >Войти</button></a>
                <a href="{{ path('signup')}}"><button class="button sign_up" >Зарегестрироваться</button></a>
            </div>
        </div>
    </div>
</header>

    <div class="home">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-10 large-10">
                    <div class="rating">
                        <table>
                            <thead>
                            <tr>
                                <th class="title_table">Название</th>
                                <th class="title_table">Рейтинг</th>
                                <th class="title_table assessment_table">Моя оценка</th>
                                <th width="10"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for place in places %}
                                <tr>
                                    <td><a class="institution_name" href="place/{{ place.id }}">«{{ place.name }}»</a></td>
                                    <td>{{ place.avgRate }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cell small-12 medium-2 large-2">
                    <div>
                        <spam class="title_category">Категория</spam>
                        <ul class="category_list">
                            {% for  category in categories %}
                            <li><a href="{{ path('category', { 'category' : category.name }) }}" class="category_is_list {% if currentCategory == category.name %} active {% endif %} ">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div>
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            <li class="pagination-previous disabled"> <span class="show-for-sr">page</span></li>
                            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                            <li><a href="#" aria-label="Page 2">2</a></li>
                            <li><a href="#" aria-label="Page 3">3</a></li>
                            <li><a href="#" aria-label="Page 4">4</a></li>
                            <li class="ellipsis" aria-hidden="true"></li>
                            <li><a href="#" aria-label="Page 12">12</a></li>
                            <li><a href="#" aria-label="Page 13">13</a></li>
                            <li class="pagination-next"><a href="#" aria-label="Next page"> <span class="show-for-sr">page</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
