{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="grid-container">
        <div class="section_title">
            <img src="images/icon-pen.png">
            <h1>Создание нового заведения</h1>
        </div>
    </div>

    <div class="form">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <form action="{{ path('edit place action', { 'id' : place.id }) }}" action="editAction" name="addPlaceForm" class="cell small-12 medium-12 large-4" enctype="multipart/form-data" method="post">

                    <ul class="spisok">
                        <li class="cell small-12 medium-12 large-4">
                            <p class="field_input_name">Название</p>
                            <input value="{{ place.name }}" type="text" name="name" class="input-group-field input_footer_form_create_place" placeholder="Введите название заведения">

                            <p class="field_input_name">Телефон</p>
                            <input value="{{ place.phoneNumber }}" type="text" name="phone" class="input-group-field input_footer_form_create_place" placeholder="Введите номер телефона">

                            <p class="field_input_name">Адрес</p>
                            <input value="{{ place.address }}" type="text" name="address" class="input-group-field input_footer_form_create_place" placeholder="Введите адрес заведения">

                            <p class="field_input_name">Координаты</p>
                            <div class="lat">
                                <p class="">lat</p>
                                <input value="{{ place.latitude }}" type="number" name="latitude" class="input-group-field input_footer_form_create_place">
                            </div>
                            <div class="lng">
                                <p class="">lng</p>
                                <input value="{{ place.longitude }}" type="number" name="longitude" class="input-group-field input_footer_form_create_place">
                            </div>

                            <p class="field_input_name">Категория</p>
                            <label>
                                <select class="input_footer_form_create_place" name="category">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>

                            <p class="field_input_name">Описание</p>
                            <textarea class="input_review" name="description"> {{ place.description }}</textarea>
                        </li>

                        <li class="cell small-12 medium-12 large-4">

                            <p class="field_input_name">Удалить изображения</p>
                            {%  for image in placeImages %}
                                <p>{{  image.path }} <a href="deleteImage/{{ image.id }}">Удалить</a> </p>
                            {% endfor %}
                            <p class="field_input_name">Добавить изображения</p>
                            <div>
                                <input type="file" name="photo0" class="input-group-field input_footer_form_create_place">
                            </div>
                            <div>
                                <input type="file" name="photo1" class="input-group-field input_footer_form_create_place">
                            </div>
                            <div>
                                <input type="file" name="photo2" class="input-group-field input_footer_form_create_place">
                            </div>
                        </li>

                        <li class="cell small-12 medium-12 large-4">
                            <p class="field_input_name">Время работы</p>
                            <table class="list_table">
                                <tbody class="list_tbody">
                                <tr>
                                    <td class="day_of_week">Понедельник</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[0].startTime|date("H:i", false) }}" type="time" name="0 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[0].endTime|date("H:i", false) }}" type="time" name="0 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_of_week">Вторник</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[1].startTime|date("H:i", false) }}" type="time" name="1 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[1].endTime|date("H:i", false) }}" type="time" name="1 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_of_week">Среда</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[2].startTime|date("H:i", false) }}" type="time" name="2 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[2].endTime|date("H:i", false) }}" type="time" name="2 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_of_week">Четверг</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[3].startTime|date("H:i", false) }}" type="time" name="3 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[3].endTime|date("H:i", false) }}" type="time" name="3 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_of_week">Пятница</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[4].startTime|date("H:i", false) }}" type="time" name="4 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[4].endTime|date("H:i", false) }}" type="time" name="4 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_of_week">Суббота</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[5].startTime|date("H:i", false) }}" type="time" name="5 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[5].endTime|date("H:i", false) }}" type="time" name="5 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_of_week">Воскресение</td>
                                    <td class="">
                                        <div class="start_work">
                                            <p class="">C</p>
                                            <input value="{{ workTimes[6].startTime|date("H:i", false) }}" type="time" name="6 start time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                        <div class="end_work">
                                            <p class="">До</p>
                                            <input value="{{ workTimes[6].endTime|date("H:i", false) }}" type="time" name="6 end time" class="input-group-field input_footer_form_create_place">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>

                    <input type="submit" class="button save_button cell small-12 medium-12 large-4">Создать</input>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
