{% extends 'base.html.twig' %}

{% block title %}Редактирование услуг{% endblock %}

{% block body %}
    <style>
        .over_the_field {
            margin-bottom: 0;
        }
    </style>

<body>
    <div class="grid-container">
        <div class="section_title">
            <img src= "{{ asset('images/icon-pen.png') }}">
            <h1><a href="{{ path('place', { 'id' : place.id }) }}">{{ place.name }}</a></h1>
        </div>
    </div>

    <form  action="addService" method="post">
    <form class="form" action="addService" method="post">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-12 large-4">
                <div class="service_name">
                    <p class="over_the_field">Услуга</p>
                    <input type="text" name="name" class="input-group-field input_footer_form_create_place" placeholder="Название услуги">
                </div>
                <div class="service_cost">
                    <p class="over_the_field">Цена</p>
                    <input type="number" name="price" class="input-group-field input_footer_form_create_place" placeholder="Стоимость, руб">
                </div>

                <label for="createNewPlace" class="button save_button cell small-12 medium-12 large-4">Создать услугу</label>
                <input type="submit" id="createNewPlace" class="show-for-sr"></input>
                </div>
            </div>
        </div>
    </form>

    <div>
        {% for service in services %}
        <div>
            <p>{{ service[1] }}</p>
            <p>{{ service[2] }}</p>
            <a href="deleteService/{{ service[0] }}">Удалить услугу</a>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
