{% extends 'base.html.twig' %}

{% block title %}{{ place.name }}{% endblock %}

{% block body %}

    <style>
        .favorite_place_delete {
            float: left;
            width: 54px;
            height: 40px;
            background: url("{{ asset('../images/icon-favorites.png') }}") no-repeat 0px 0px;
            transition: 0.5s;
        }

        .favorite_place_delete:hover {
            background-position: 0px -48px;
        }

        .favorite_place_delete:focus {
            background-position: 0px -48px;
        }

        .edit {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: #5400E5;
        }

        .edit:hover {
            text-decoration: underline;
        }

        .rate-show {
            text-align: center;
            padding: 14px 0 0 0;
            color: white;
            font-weight: bold;
            width: 40px;
        }

        .rate-show {
            width: 40px;
            height: 40px;
            background: url("{{ asset('../images/icon-star.png')}}") no-repeat 0px -48px;
            transition: 0.5s;
        }

        .rate-show:hover {
            background-position: 0px 2px;
            cursor: pointer;
        }

        .rate-show:focus {
            background-position: 0px 2px;
        }

        .rate-show:focus-within {
            background-position: 0px 2px;
        }

        .rate-show:active {
            background-position: 0px 2px;
        }

        .elementRate {
            border: hidden;
            height: 50px;
            overflow-y: hidden;
        }

        select {
            background-origin: border-box;
        }

        select:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

        select option:checked {
            padding: 2px 0 0 0;
            background: white linear-gradient(white, white);
            content: url("{{ asset('../images/icon-star-alone.png')}}");
            transition: 0.5s;
        }

        .reviews {
            margin-top: 30px;
        }
    </style>


    <div class="information">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-12 large-6 info_left">
                    <div class="section_title">
                        <h1> {{ place.name }} </h1>
                        <div class="user_rating">

                            {% if app.user and saved %}
                                <a class="favorite_place_delete"
                                   href="{{ path('remove_from_favourite', { 'id' : place.id }) }}"></a>
                            {% elseif app.user %}
                                <a class="favorite_place"
                                   href="{{ path('add_to_favourite', { 'id' : place.id }) }}"></a>
                            {% endif %}

                        </div>

                        <p class="text_info"> Rate: {{ argRate }}</p>

                        <div class="edit_place">
                            {% if app.user and app.user.role.name == 'ROLE_ADMIN' %}
                                <a class="edit" href="{{ path('edit services', { 'id' : place.id }) }}">Редактировать
                                    услуги</a></br>
                                <a class="edit" href="{{ path('edit place', { 'id' : place.id }) }}">Редактировать
                                    место</a></br>
                                <a class="edit" href="{{ path('delete place', { 'id' : place.id }) }}">Удалить место</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="info">
                        <spam class="title_info">Телефон:</spam>
                        <p class="text_info">{{ place.phoneNumber }}</p>
                        <spam class="title_info">Адрес:</spam>
                        <p class="text_info">{{ place.address }}</p>
                        <spam class="title_info">Категория:</spam>
                        <p class="text_info">{{ place.category.name }}</p>
                    </div>

                    <div class="working_hours">
                        <spam class="title_info">Время работы:</spam>
                        <br/>
                        <div class="grid-container">
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-12 medium-12 large-12">
                                    <table class="list_table">
                                        <tbody class="list_tbody">
                                        {% for  workTime in workTimes %}
                                            <tr>
                                                <td class="text_info">{{ weekDays[workTime.WeekDay] }}</td>
                                                <td class="text_info">{{ workTime.startTime|date("H:i", false) }}
                                                    – {{ workTime.endTime|date("H:i", false) }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list_of_services">
                        <spam class="title_info">Список услуг:</spam>
                        <br/>
                        <div class="grid-container">
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-12 medium-12 large-12">
                                    <table class="list_table">
                                        <tbody class="list_tbody">
                                        {% for  service in place.PlaceHasServices %}
                                            <tr>
                                                <td class="text_info">{{ service.service.name }}</td>
                                                <td class="text_info">{{ service.price }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <spam class="title_info">Описание:</spam>
                        <p class="text_info">{{ place.description }}</p>
                    </div>

                    {% if app.user %}
                        <div class="div_review">

                            <spam class="title_info">Оценить заведение</spam>
                            <form action="{{ path('place', { 'id' : place.id }) }}" method="POST">

                                <select size="10" name="rate" class="elementRate" required>
                                    {% for i in 1..10 %}

                                        <option class="rate-show" value="{{ i }}">{{ i }}</option>

                                    {% endfor %}
                                </select>

                                <textarea name="feedback_text" class="input_review"
                                          placeholder="Поделиться мнением, написать отзыв"></textarea>
                                <button class="button send_comment" type="submit">Leave feedback</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                <div class="cell small-6 medium-6 large-6">
                    <div id="map" class="map"></div>
                </div>

                <div class="cell small-6 medium-6 large-6">
                    {% for  image in imagesPaths %}

                        <img src="{{ asset( image ) }} " width="200" height="200"/>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>



    <div class="reviews">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-12 large-12">
                    <p class="title_info">Отзывы:</p>
                </div>
                {% for  commentary in commentaries %}
                    <div class="cell small-12 medium-12 large-6">
                        <div class="review">
                            <p class="name_place">{{ commentary.user.name }} — {{ commentary.rate }}</p>
                            <p class="date_of_writing">{{ commentary.date|date("d/m/y", false) }}</p>
                            <p class="review_text">{{ commentary.feedback }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% block javascripts %}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script type="text/javascript">
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map("map", {
                    center: [{{ place.latitude }}, {{ place.longitude }}],
                    zoom: 15,
                    behaviors: ['drag']
                });

                myGeoObject = new ymaps.GeoObject({
                    geometry: {
                        type: "Point",
                        coordinates: [{{ place.latitude }}, {{ place.longitude }}]
                    },
                }, {
                    preset: 'islands#violetDotIcon'
                });

                myMap.geoObjects
                    .add(myGeoObject);

            }
        </script>
    {% endblock %}



{% endblock %}
