{% extends 'base.html.twig' %}

{% block title %}Hello PlaceController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .service {
            max-width: 80px;
            float: left
        }
    </style>

    <div class="example-wrapper">
        <h1>{{ place.name }}</h1>

        {% if app.user.role.name == 'ROLE_ADMIN' %}
            <a href="{{ path('edit services', { 'id' : place.id }) }}">Редактировать услуги места</a>
            <a href="{{ path('edit place', { 'id' : place.id }) }}">Редактировать место</a>
        {% endif %}

        {% if app.user and saved %}
            <a href="{{ path('remove_from_favourite', { 'id' : place.id }) }}">Удалить из ибранного(можно добавить картинку)</a>
        {% elseif app.user %}
            <a href="{{ path('add_to_favourite', { 'id' : place.id }) }}">Добавить в избранное(можно добавить картинку)</a>
        {% endif %}
        <p> Rate: {{ argRate }}</p>
        <p>{{ place.address }}</p>
        <p>{{ place.category.name }}</p>
        <p>{{ place.phoneNumber }}</p>
        <p>{{ place.description }}</p>


        {% for  service in place.PlaceHasServices %}
            <p class="service">услуга: {{ service.service.name }}  </p>
            <p class="service">цена: {{ service.price }}</p>
        {% endfor %}

        <div style="float: left">
            {% for  workTime in workTimes %}
                <p class="service">время начала: {{ workTime.startTime|date("H:i", false) }}  </p>
                <p class="service">время конца: {{ workTime.endTime|date("H:i", false) }}</p>
            {% endfor %}
        </div>

        <div>
            {% for  image in imagesPaths %}

                <img src="{{ asset( image ) }} " width="200" height="200"/>

            {% endfor %}
        </div>

        <div class="comment_block">

            {% if app.user %}
            <form action="{{ path('place', { 'id' : place.id }) }}" method="POST">
                <select name="rate">
                    {% for i in 1..10 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="feedback_text">
                <button type="submit">Leave feedback</button>
            </form>
            {% endif %}

            <div class="comments">
                {% for  commentary in commentaries %}

                    <div>
                        {{ commentary.user.name }}
                        {{ commentary.rate }}
                        {{ commentary.feedback }}
                        {{ commentary.date|date("d/m/y", false) }}
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
