{% extends 'base.html.twig' %}

{% block title %}Hello PlaceController!{% endblock %}

{% block body %}


    <div class="information">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-12 large-6 info_left">
                    <div class="section_title">
                        <h1> {{ place.name }} </h1>

                        {% if app.user and saved %}
                            <a href="{{ path('remove_from_favourite', { 'id' : place.id }) }}">Удалить из ибранного(можно добавить картинку)</a>
                        {% elseif app.user %}
                            <a href="{{ path('add_to_favourite', { 'id' : place.id }) }}">Добавить в избранное(можно добавить картинку)</a>
                        {% endif %}

                        <p class="text_info"> Rate: {{ argRate }}</p>
                    </div>

                    <div class="info">
                        <spam class="title_info">Телефон:</spam>
                        <p class="text_info">{{ place.phoneNumber }}</p>
                        <spam class="title_info">Адрес:</spam>
                        <p class="text_info">{{ place.address }}</p>
                        <spam class="title_info">Категория:</spam>
                        <p class="text_info">{{ place.category.name }}</p>
                    </div>

                    <div class="working_hours">
                        <spam class="title_info">Время работы:</spam><br />
                        <div class="grid-container">
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-12 medium-12 large-12">
                                    <table class="list_table">
                                        <tbody class="list_tbody">
                                        {% for  workTime in workTimes %}
                                            <tr>
                                                <td class="text_info">День недели</td>
                                                <td class="text_info">{{ workTime.startTime|date("H:i", false) }} – {{ workTime.endTime|date("H:i", false) }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list_of_services">
                        <spam class="title_info">Список услуг:</spam><br />
                        <div class="grid-container">
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-12 medium-12 large-12">
                                    <table class="list_table">
                                        <tbody class="list_tbody">
                                        {% for  service in place.PlaceHasServices %}
                                            <tr>
                                                <td class="text_info">{{ service.service.name }}</td>
                                                <td class="text_info">{{ service.price }}</td>
                                            </tr>
                                            {#<p class="text_info">услуга: {{ service.service.name }}</p>
                                            <p class="text_info">цена: {{ service.price }}</p>#}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <spam class="title_info">Описание:</spam>
                        <p class="text_info">{{ place.description }}</p>
                    </div>

                    <div class="div_review">
                        <spam class="title_info">Оценить заведение</spam>
                        <form action="{{ path('place', { 'id' : place.id }) }}" method="POST">
                            <select name="rate">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            {#<input class="input_review" placeholder="Поделиться мнением, написать отзыв" type="text" name="feedback_text">#}
                            <textarea class="input_review" placeholder="Поделиться мнением, написать отзыв"></textarea>
                            <button class="button send_comment" type="submit">Leave feedback</button>
                        </form>

                        <div class="comments">
                            {% for  commentary in commentaries %}

                                <div>
                                    {{ commentary.user.name }}
                                    {{ commentary.rate }}
                                    {{ commentary.feedback }}
                                    {{ commentary.date|date("d/m/y", false) }}
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="cell small-3 medium-3 large-6">
                    <div id="map" class="map"></div>

                    <div>
                        {% for  image in imagesPaths %}

                            <img src="{{ asset( image ) }} " width="200" height="200"/>

                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
    {% endblock %}



{% endblock %}
