{% extends 'base.html.twig' %}

{% block title %} Регистрация {% endblock %}

{% block body %}
<style>
        .error{
            display: block;
            text-align: center;
            color: red;
            font-family: Open Sans;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 10px;
        }
        .entry_head {
            font-family: Open Sans;
            font-style: italic;
            font-weight: bold;
            font-size: 64px;
            line-height: 87px;
            color: #333333;
            text-align: center;
        }
        .button:focus,
        .sign_in_button:focus {
            background: #6807F9;
        }
</style>

<body>
<header>
    <div class="grid-container">
        <div class="top-bar white_header">
            <a href="{{ path('default')}}"><img src="images/logotype.png" alt="logo" class="logo top-bar-left"></a>
            <div class="top-bar-right">
                <a href="{{ path('login')}}"><button class="clear button sign_in" href="#">Войти</button></a>
                <a href="{{ path('signup')}}"><button class="button sign_up" href="#">Зарегестрироваться</button></a>
            </div>
        </div>
    </div>
</header>

<div class="entry">
    <h1 class="entry_head">Регистрация</h1>
    {% if error %}
        <span class="error">{{ error }}</span>
    {% endif %}
    <div class="grid-container">
        <form action="signup" method="POST" class="form_input">
            <input type="name" name="name" class="input-group-field input_footer_form" placeholder="Имя">
            <input type="email" name="email" class="input-group-field input_footer_form" placeholder="Email" value="{{ email }}">
            <input type="password" name="password" class="input-group-field input_footer_form" placeholder="Пароль">
            <button type="submit" class="button sign_in_button">Зарегистрироваться</button>
        </form>
    </div>
</div>
</body>
{% endblock %}
